/*
  Global scss
*/

@import 'normalize.css';
@import "~foundation-sites/scss/foundation";
@import './animations.scss';

@include foundation-global-styles;

$sans-serif: source-han-sans-traditional,Noto Sans TC,PingFang TC,Apple LiGothic Medium,Roboto,Microsoft JhengHei,Lucida Grande,Lucida Sans Unicode,sans-serif;

::selection {
  color: #1f1f1f;
  background: rgba(#e2b199, 0.8);
}

body {
  background: #efefef;
  font-family: $sans-serif;
  line-height: 1.8;
  letter-spacing: 0.3px;
}

// Avoid the mobile address bar being hidden on scroll
@media (max-width: 39.375rem) {
  html {
    overflow: hidden;
    height: 100%;
  }
  body {
    height: 100%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

button {
  font-family: $sans-serif !important;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

// React CSS Transitions
/* animations: element  */
.element-appear {
  opacity: 0.01;
  transform: translateY(50px);
}

.element-appear.element-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-in-out;
  transition-delay: 1s;
}

.element-enter {
  opacity: 0.01;
}

.element-enter.element-enter-active {
  opacity: 1;
  transition: all 0.8s ease-in-out;
  transition-delay: 1s;
}

.element-leave {
  opacity: 1;
}

.element-leave.element-leave-active {
  opacity: 0.01;
  transition: opacity 0.5s ease-in-out;
}


/* animations: scale  */
.scale-appear {
  opacity: 0.9;
  transition: all 1s ease-in-out;
  transform: scale(1.4);
}

.scale-appear.scale-appear-active {
  opacity: 1;
  transform: scale(1);
}

.scale-enter {
  opacity: 0.01;
}

.scale-enter.scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}

.scale-leave {
  opacity: 1;
}

.scale-leave.scale-leave-active {
  opacity: 0.01;
  transform: scale(1.3);
}

// Infinite ration classes
.infinite-rotate{
  animation-delay: 2s;
  animation-duration: 1.5s;
  /* Things added */
  animation-iteration-count: infinite;
  display: inline-block;
}
.infinite-rotate-left{
  @extend .infinite-rotate;
  transform-origin: 90% 90%;
  animation-name: rotation-left;
}
@keyframes rotation-left {
    0% {
      opacity: 100%;
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(-20deg);
    }
    100% {
      opacity: 80%;
      transform: rotate(-25deg);
    }
}
.infinite-rotate-right{
  @extend .infinite-rotate;
  transform-origin: 10% 90%;
  animation-name: rotation-right;
}
@keyframes rotation-right {
    0% {
      opacity: 100%;
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(20deg);
    }
    100% {
      opacity: 80%;
      transform: rotate(25deg);
    }
}
